/engine/lib/i386-win32
*.dll
*.exe
*.bak
/demo/lib/i386-win32
*.lps
i386-win32
*.log
/engine/backup
/demo/backup
/backup
/generate/backup
/betterdemo/backup
/tz/backup
/tz/*.dbg
/engine/lib/x86_64-win64/*.o
*.ppu
*.a
*.compiled
*.o
*.dbg
